.card{
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 5px;
    margin: 10px 5px 10px 5px;
    background-color: #282c34;
    border-radius: 5px;
    text-align: center;
    transition: transform 250ms ease;
}

.card:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.card b{
    padding-top: 5px;
    height: 50px;
}

.subText{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 3px;
}

@media only screen and (max-width: 768px){
    .card{
        width: 150px;

    }

    .subText{
        font-size: 15px;
    }
}